!!! 5
html
  head
    title Subway -- #{env}
    link(href='/assets/images/favicon.ico', rel='icon', type='image/x-icon')
    != css('bootstrap.min')
    != css('subway')
    != js('client')
    include templates
  body
    block content
